<div class="container">
	<div>
		<h3 class="text-capitalize">my checked out devices</h3>
		not implemented
	</div>
	<hr>
	<div class="text-capitalize">
		<h3>device list</h3>
		<table class="device-list table table-striped">
		    <thead>
	      		<tr>
			        <th>device name</th>
			        <th>availability</th>
			        <th>return date</th>
			        <th>condition</th>
	      		</tr>
		    </thead>
		    <tbody>
	    		<% for(var i = 0; i < devices.length; i++) { %>
					<tr onclick="document.location.href += '/<%= devices[i]["ID"] %>';">
						<td>
							<%= devices[i]["NAME"]%>
						</td>
						<td>
							<% if(devices[i]["CHECKED_OUT"] === 0){ %>
									<span class="glyphicon glyphicon-ok "></span><span>  Available</span>
							<% } else { %>
									<span class="glyphicon glyphicon-remove "></span><span>  Unavailable</span>
							<% }%>
						</td>
						<td>
							<% if(devices[i]["CHECKED_OUT"] && devices[i]["CHECK_OUT_DATE"]) { %>
								<%= devices[i]["CHECK_OUT_DATE"]%>
							<% } else if (devices[i]["CHECKED_OUT"] && !devices[i]["CHECK_OUT_DATE"]) { %>
								<span>no date available</span>
							<% }%>
						</td>
						<td>
							<%= devices[i]["CONDITION"]%>
						</td>
					</tr></a>
				<% } %>
		    </tbody>
	  	</table>
	</div>
</div>