<div class="container">
	<form method="post" class="col-xs-6 col-xs-offset-3">
		<h3>New Classroom Reservation</h3>
        <div class="form-group">
            <label for="day">Day</label>
            <input class="form-control" type="text" name="day">
        </div>
        <div class="form-group">
            <label for="section">Section</label>
            <input class="form-control" type="text" name="section">
        </div>
        <div class="form-group">
            <label for="timeslot">Time slot</label>
            <input class="form-control" type="text" name="timeslot">
        </div>
        <div class="form-group">
            <label for="length">Duration</label>
            <input class="form-control" type="text" name="length">
        </div>
		<button type="submit" class="btn btn-primary pull-right">Submit</button>
	</form>
</div>
