<div class="container">
	<div class="col-xs-5 col-xs-offset-3">
		<h3>Return Device</h3>
		<form method="POST">
			<div class="form-group">
				<label for="name">Please select the condition of the device you are returning</label>
				<select name="retCondition" class="form-control bottom-15">
					<option>Perfect</option>
					<option>Great</option>
					<option>Good</option>
					<option>Fair</option>
					<option>Broken</option>
					<option>Missing</option>
				</select>
				<button class="btn btn-danger pull-left" onclick="document.location = document.location.origin + '/devices'">Cancel</button>
				<button class="btn btn-primary pull-right" onclick="">Submit</button>
			</div>
		</form>
	</div>
</div>
