<div class="container">
	<form method="post" class="col-xs-6 col-xs-offset-3">
		<h3>Return Device</h3>
		Please select the condition of the device you are returning
		<div class="form-group">
			<label for="name">Please select the condition of the device you are returning</label>
			<select class="form-control">
				<option>Perfect</option>
				<option>Great</option>
				<option>Good</option>
				<option>Fair</option>
				<option>Broken</option>
				<option>Missing</option>
			</select>
		</div>
		<button type="" class="btn btn-warning pull-right" onclick="document.location.href += '/devices">Cancel</button>
		<button type="submit" class="btn btn-primary pull-right">Submit</button>
	</form>
</div>
