body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

footer {
   background-color: #CC8855;
   position: absolute;
   bottom: 0;
   width: 100%;
   left: 0px;
   height: 50px;
}

.left {
  position: absolute;
  left: 0;
  top: 85px;
  bottom: 0;
  width: 200px;
}

.main {
    position: absolute;
    left: 200px;
    top: 92px;
    right: 0;
    bottom: 0;
}

.twitter-border {
  border: 2px solid #CC8855;
  border-radius: 2px;
}

.glyphicon-ok {
  color: #2ECC71;
  margin-right: 5px;
}

.glyphicon-remove {
  color: #D91E18;
  margin-right: 5px;
}

.device-list .glyphicon-remove {
  top: 3px;
}