body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

footer {
   background-color: #CC8855;
   position: absolute;
   bottom: 0;
   width: 100%;
   left: 0px;
   height: 50px;
}
