body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

a {
  color: #00B7FF;
}

.footer {
   background-color: #2b313b;
   height: 50px;
   color: grey;
}

.content {
  flex: 1;
}

.footer-text {
  margin-right: 20px;

  line-height: 50px; /* centers the text in the footer, must be the same as footer height */
}

.header .navbar{
  background-color: #F36E21;
}

.navbar-brand, .navbar-default .navbar-nav>li>a {
  color: white !important;
}

/*                    */
/* Global CSS Classes */
/*                    */
.bottom-15 {
  margin-bottom: 15px;
}

.top-50{
  margin-top: 50px;
}

.h4-text {
  font-size: 18px;
}
/* remove default margins from all rows to keep the page from overflowing */
.row {  
  margin: 0 !important;
}

.table>tbody>tr>td {
  vertical-align: middle !important;
}


/*                 */
/* Sidebar Classes */
/*                 */
.twitter-wrapper {
  height: 75vh;
  margin-bottom: 20px;
}

.twitter-border {
  border: 2px solid #F36E21;
  border-radius: 2px;

  max-height: 100%;
  overflow-y: scroll;
}

/*                  */
/* Device List Page */
/*                  */
.glyphicon {
  margin-right: 5px;
}

.glyphicon-ok {
  color: #2ECC71;
}

.glyphicon-remove {
  color: #D91E18;
}

.device-list .glyphicon-remove {
  top: 3px;
}

.classroomListing {
	cursor: pointer;
}

.classroomListing:hover {
	background-color: #CCCCCC !important;
}

.classroomListing:active {
	background-color: #888888 !important;
}

/*                 */
/* New Device Page */
/*                 */
.new-device{
  margin-top: 15px;
  margin-right: 40px;
}

/*           */
/* Home Page */
/*           */
.landing-page {
  margin-top: 10%;
}

.landing-title {
  font-size: 50px;
  margin-bottom: 40px;
}