<html lang="en">
  <head>
    <% include ../views/partials/head %>
  </head>
  <body>
    <header>
        <% include ../views/partials/header %>
    </header>

    <% include ../views/partials/sidebar %>

    <div class="main">

      <p>classroom</p>

    </div>

    <% include ../views/partials/footer %>
  </body>
</html>
