<html lang="en">
  <% include ../views/partials/head %>
  <body>
    <% include ../views/partials/header %>
    <% include ../views/partials/sidebar %>

    <div class="main">
	  <% include partials/classroomList %>
    </div>

    <% include ../views/partials/analytic %>
    <% include ../views/partials/footer %>
  </body>
</html>
