<html lang="en">
  <head>
    <% include ../views/partials/head %>
  </head>
  <body>
    <header>
        <% include ../views/partials/header %>
    </header>

    <p>classroom</p>

    <% include ../views/partials/footer %>
  </body>
</html>
