<html lang="en">
  <% include ../views/partials/head %>
  <body>
    <header>
        <% include ../views/partials/header %>
    </header>

    <div class="row content">

        <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
            <% include ../views/partials/sidebar %>
        </div>

        <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
            <div class="row">
                <div class="pull-left"><h2>Classroom <%=classroom["classroom"]["ID"] %></h2></div>
                <div class="pull-right new-device">
                    <button class="btn btn-default" onclick="document.location.href += '/newReservation'"><span class="glyphicon glyphicon-plus"></span>Make Reservations</button>
                    <button class="btn btn-danger" onclick="document.location.href += '/delete'">Delete Classroom</button>
                </div>
            </div>
            <div class="row">
                <span class="h4-text"><b>Building ID: </b> 
                <%= classroom["classroom"]["BUILDING_ID"] %></span>
            </div>
            <div class="row">
                <span class="h4-text"><b>Room Number: </b>
                <%= classroom["classroom"]["ROOM_NUM"] %></span>
            </div>
            <div class="row">
                <span class="h4-text"><b>Capacity: </b>
                <%= classroom["classroom"]["CAPACITY"] %></span>
            </div>
            <hr>
            <%if(Object.keys(classroom["reserve"]).length > 0){%>
                <h3>Reservations for this Classroom</h3>
                <% include ../views/partials/reservationList %>
            <% } %>
        </div>
    </div>

    <% include ../views/partials/analytic %>
    <% include ../views/partials/footer %>
  </body>
</html>
