<html lang="en">
  <% include ../views/partials/head %>
  <body>
    <% include ../views/partials/header %>

    <% include ../views/partials/sidebar %>

    <div class="main">
    	<% if(reserve === true) { include partials/reserveDevice }%>
    	<!-- <% if( === true) { include partials/returnDevice }%> -->
    </div>


    <% include ../views/partials/footer %>
  </body>
</html>
