<html lang="en">
  <% include ../views/partials/head %>
  <body>
    <% include ../views/partials/header %>

    <% include ../views/partials/sidebar %>

    <div class="main">

      <p>device list</p>

    </div>

    <% include ../views/partials/footer %>
  </body>
</html>
