<html lang="en">
  <% include ../views/partials/head %>
  <body>
    <% include ../views/partials/header %>

    <div class="row content">
      <div class="col-xs-4 col-sm-3 col-md-3 col-lg-2">
          <% include ../views/partials/sidebar %>
      </div>
      
      <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10">
        <div class="top-50">
          <form method="post" class="col-xs-6 col-sm-5 col-xs-offset-2 col-sm-offset-3">
            <h3>New Classroom</h3>
                <div class="form-group">
                    <label for="day">Capacity</label>
                    <input class="form-control" type="text" name="capacity">
                </div>
                <div class="form-group">
                    <label for="section">Building Number</label>
                    <input class="form-control" type="text" name="building_num">
                </div>
                <div class="form-group">
                    <label for="timeslot">Room Number</label>
                    <input class="form-control" type="text" name="room_num">
                </div>
            <button type="submit" class="btn btn-primary pull-right">Submit</button>
          </form>
        </div>

      </div>
    </div>

    <% include ../views/partials/analytic %>
    <% include ../views/partials/footer %>
  </body>
</html>
